.login{
    position: absolute;
    top: 3%;
    left: 15%;
    width: 70%;
    height: 90%;
    border-radius: 1em;
}
.logo{
    position: absolute;
    background-image: url(../../../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    top: 2%;
    left: 10%;
    width: 80%;
    height: 27%;
}
.field{
    position: relative;
    width: 100%;
    height: 80%;
}
.logo-password{
    position: absolute;
    background-image: url(../../../assets/lock-password.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    top: 40%;
    left: 0%;
    width: 13%;
    height: 40%;
}
.login-info{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    height: 20%;
    border-radius: 1em;
    
}
.login-info .field label{
    color: #2bb9ea;
    font-size: 1.4em;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 20%;

}

.login-semiTitle{
    position: absolute;
    font-size: 1.4em;
    font-weight: bold;
    color:#2bb9ea;
    text-align: center;
    top:-20%;
    width: 100%;
    height: 10%;
    border-width: 0 0 2px;
    border-color: #2bb9ea;
    outline:none;
}
.login-button{
    position: absolute;
    top: 85%;
    left: 25%;
    width: 50%;
    height: 10%;
}
.login-button button{
    position: relative;
    background-color: #2bb9ea;
    color:white ;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    outline:none;
    border: none;
    font-weight: lighter;

}
input::placeholder{
    color: white;
    font-size: 0.9em;

}

.create-password-error{
    position: absolute;
    color: red;
    width: 115%;
    top: 80%;
    left: 15%;
}